<div class="card" data-gameId="{{game_Id}}">
    <img src="{{background_image}}" alt="{{name}} Screenshot">
    <h2>{{name}}</h2>
    <p>Rating: {{rating}}
        {{#if session.userId}}
        <button id="likeButton">Like</button>
        {{/if}}

</div>